*.tmp
/build/
/build/*
/.nb-gradle/
/nhl/NhlStatistics1/.nb-gradle/
/nhl/NhlStatistics1/build/
/tehtävät/NhlStatistics1/.nb-gradle/
/tehtävät/NhlStatistics1/build/
/tehtävät/RiippuvuuksienInjektointi1/.nb-gradle/
/tehtävät/RiippuvuuksienInjektointi1/build/